* {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    padding: 0;
    margin: 0;
}

body {
    background-image: radial-gradient(circle at 50% -20.71%, #bae0e6 0, #bbe0e9 6.25%, #bcdfeb 12.5%, #bedfed 18.75%, #c0deef 25%, #c3ddf0 31.25%, #c6dcf1 37.5%, #c9dbf2 43.75%, #cddaf2 50%, #d1d9f2 56.25%, #d5d8f1 62.5%, #d9d7f0 68.75%, #ddd6ee 75%, #e1d5ed 81.25%, #e4d4ea 87.5%, #e8d3e8 93.75%, #ebd2e5 100%);
}

.grid-container {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.grid-container > button {
    cursor: pointer;
    font-size: 2rem;
    border: none;
    outline: none;
    background-color: #111;
    color: #eee;
}

.grid-container > button:hover {
    background-color: #eee;
    color: #111;
}

.grid-container > .operator {
    background: #58816b
}

.span-two {
    grid-column: span 2;
}

.grid-container > .output {
    grid-column: 1 / -1;
    background-color: #222;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

.grid-container > .output > .previous-operand {
    color: rgba(255, 255, 255, .75);
    font-size: 1.5rem;
}

.grid-container > .output > .current-operand {
    color: white;
    font-size: 2.5rem;
}
